	<% publishedArticlesAlreadyShown = 0 %>

		<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="breadcrumb">
					<%= link_to 'Home', root_path %> > <%= link_to 'Tresen', medien_plus_path %>	
				</div>
				<div class="bg__spacer">
					<h1><span class="bg bg__blue">Schaufenster &amp; Werkstatt</span></h1>						
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
		<div class="col-7-of-12">
			<div class="medienplus__teaser--large">
				<% @published_articles.first(1).each do |article| %>
					<%= link_to article do %>
						<%= image_tag  article.image_url, class: 'medienplus__teaser-oi' %>
					<% end %>
				<div class="medienplus__meta">
					<span><%= article.category %></span> | 
					<span><%= article.date.strftime("%d.%m.%Y") %></span>
				</div>
				
				
					<div class="medienplus__headline mb--1"><%= link_to article.title, article %></div>
					
					<div class="medienplus__text mb--1"><%= article.teaser %></div>						
					<div class="medienplus__text">Text: <%= article.author %></div>										
				<% end %>
			</div>								
		</div>
	</div>

	<% publishedArticlesAlreadyShown = 1 %>

	<div class="row">
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
		<div class="col-7-of-12">
			<% @published_articles.drop(publishedArticlesAlreadyShown).each_slice(3) do |slice| %>
			<div class="row">
				<% slice.each do |article| %>
				<div class="col-1-of-3">
					<div class="medienplus__teaser">

						<%= link_to article do %>
							<% if article.image.present? %>
								<%= image_tag  article.image_url, class: 'medienplus__teaser-image mb--1' %>
							<% end %>
						<% end %>
						<div class="medienplus__meta">
							<span><%= article.category %></span> | 
							<span><%= article.date.strftime("%d.%m.%Y") %></span>
						</div>
						<%= link_to zeitalter_des_ueberwachungskapitalismus_path do %>
							<div class="medienplus__headline mb--1"><%= link_to article.title, article %></div>
						<% end %>
						<div class="medienplus__text mb--1"><%= article.teaser %></div>
						<div class="medienplus__text">Text: <%= article.author %></div>						
					</div>					
				</div>
				<% end %>
			</div>		
			<% end %>
			<div class="space"></div>
			<div class="pagination">
  			<%= paginate @published_articles %>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="row">
		<div class="cite">
			<div class="cite__text">
				Medien+ ist der Blog der Freien Akademie für Medien & Journalismus. Hier veröffentlichen neben den Dozenten und Studenten auch Gäste. Medien+ steht damit für den Journalismus, um den es an der Akademie geht, und ist zugleich Nachfolger der Seite <a href="https://medienblog.hypotheses.org/">Medienrealität</a>, die Michael Meyen 2017 bis 2022 kuratiert hat.
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>


</div>