
<%= simple_form_for  [:admin, @article], :html => { :class => 'form-horizontal' }  do |f| %>

  <div class="form__field">
    <%= f.error_notification %>
    <div class="form__field">
	    <%= f.input :title, label: 'Titel' %>
   </div>
   <div class="form__field">
	    <%= f.input :video, label: 'iFrame URL' %>
    </div>
    <div class="form__field">
	    <%= f.input :image, label: 'image URL' %>
    </div>
    <div class="form__field">	    
	    <%= f.input :image_sources, label: 'Bildquellen' %>
    </div>
    <div class="form__field">
	    <%= f.label 'Datum' %>
    </div>
    <div class="form__field">	    
	    <%= f.date_select :date, start_year: 2021, end_year: Time.now.year, label: 'Datum' %>
    </div>
    <div class="form__field">	    
	    <%= f.input :author, label: 'Autor' %>
	  </div>
	  <div class="form__field">	    
	    <%= f.input :category, label: 'Kategorie' %>
	  </div>
    <div class="form__field">	    
	    <%= f.input :intro, label: 'Introtext' %>
	  </div>
	  <div class="form__field">	    
	    <%= f.input :teaser, label: 'Teasertext' %>
	  </div>
	  <div class="form__field">	    
	    <%= f.input :text, label: 'Inhalt'%>
	  </div>

  </div>

  <%= f.button :submit, "Änderungen speichern", class: 'button' %>
  <%= link_to 'Abbrechen', admin_articles_path %>
<% end %>
