
<%= simple_form_for  [:admin, @task], :html => { :class => 'form-horizontal' }  do |f| %>

  <div class="form__field">
    <%= f.error_notification %>
    <%= f.label 'Abgabedatum' %>
    <%= f.date_select :end, start_year: 2021, end_year: Time.now.year, label: 'Datum' %>
  </div>
  <div class="form__field">
    <%= f.input :number, label: 'Aufgabennummer' %>
  </div>
  <div class="form__field">
    <%= f.input :title, label: 'Titel' %>
  </div>
  <div class="form__field">
    <%= f.input :assignment_text, :as => :text, label: 'Aufgabe' %>
  </div>
  <%= f.button :submit, "Änderungen speichern", class: 'button' %>
  <%= link_to 'Abbrechen', admin_tasks_path %>
<% end %>
