

	<div class="footer">
		<div class="row">
			<div class="col-1-of-4">
				<h3>Akademie</h3>
				<ul>
					<li><%= link_to 'Was wir bieten', root_path(anchor: 'portfolio') %></li>
					<li><%= link_to 'Wer wir sind', root_path(anchor: 'portrait') %></li>
					<li><%= link_to 'Wen wir empfehlen', root_path(anchor: 'partner') %></li>
				</ul>
			</div>
			<div class="col-1-of-4">
				<h3>Beliebte Inhalte</h3>
				<ul>
					<li><%= link_to 'Kolumnen', kolumnen_path %></li>
					<li><%= link_to 'Videos', lehrgang_path %></li>
					<li><%= link_to 'Medien+', medien_plus_path %></li>
				</ul>
			</div>
			<div class="col-1-of-4">
				<h3>Kontakt</h3>
				<ul>
					<li><a href="mailto:freie-medienakademie@posteo.de?subject=Bewerbung"><span class="button button__blue button__send link-deko__right"> E-Mail schreiben </span></a></li>
				</ul>
				<h3><%= link_to 'Impressum', impressum_path %></h3>
			</div>
			<div class="col-1-of-4">
				<%= show_svg('logo/akademie_logo.svg') %>
			</div>
		</div>		
	</div>
	