
	<div class="nav" id="nav">
		<div class="wrapper wrapper__inner">
			<div class="nav__content">
			<div class="nav__logo">
				<%= link_to root_path do %>
					<%= show_svg('logo/akademie_logo.svg') %>
				<% end %>
			</div>
				<div class="nav__items--left">
					<ul class="nav__items">
						<li><%= link_to 'Studiengang', studiengang_path %></li>
						<li><%= link_to 'Lehrgang', lehrgang_path %></li>
						<li><%= link_to 'Medien +', medien_plus_path %></li>
					</ul>
				</div>
				<div class="nav__items--right">
					<ul class="nav__items">
						<% if signed_in? && current_user.role == 'student'%>
							<li class="nav__items--right"><%= link_to 'Klassenzimmer', classroom_path %></li>
						<% end %>
						<li class="nav__items--right">
						<% if signed_in? %>
	      			Angemeldet als: <%= current_user.username %></li>
	      		<li class="nav__items--right"><%= link_to 'Abmelden', sign_out_path, method: :delete %>
		    			<% else %>
		      			<%= link_to 'Anmelden', sign_in_path %>
		    			<% end %>
	    			</li>
	    			<% if signed_in? && current_user.role == 'admin'%>
	    			<li class="nav__items--right">
	    				<%= link_to 'Adminbereich', admin_users_path %>
	    			</li>
	    			<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% if can? :update, @article %>
  <%= link_to "ja", root_path %>
  <% else %>
  <div> nein </div>
  <% end %>

	</div>

	<div class="nav-mobile">
		<div class="nav-mobile__logo">
			<%= link_to root_path do %>
				<%= show_svg('logo/akademie_logo.svg') %>
			<% end %>
		</div>
		<a href="javascript:void(0);" class="nav-mobile__trigger" id="nav-mobile__trigger-icon" onclick="toggleNav()"></a>
		<div class="nav-mobile__content">   				
			<div class="nav-mobile__items" id="nav-mobile__items">
				<ul>
					<%= link_to 'Studiengang', studiengang_path %>
					<%= link_to 'Lehrgang', lehrgang_path %>
					<%= link_to 'Medien +', medien_plus_path %>

				</ul>
			</div>
		</div>
	</div>
