<div class="wrapper">
	<%= render "shared/nav" %>

	<!-- Header -->

	<div class="row">
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
		<div class="col-8-of-12">
			<div class="textheader">
				<div class="breadcrumb">
					<%= link_to 'Home', root_path %> > <%= link_to 'Medien+', medien_plus_path %> > <%= link_to 'Ein Jahr #allesdichtmachen II', allesdichtmachen_path %>		
				</div>
				<div class="bg__spacer">
					<%= image_tag 'sidebar/allesdichtmachen.png', alt: 'allesdichtmachen', class:'mb--2 ' %>				
					<div class="medienplus__meta">
					<span>Interview</span> | 
					<span>20.05.22</span>
				</div>
				<%= link_to construction_path do %>
					<div class="medienplus__headline mb--1">Ein Jahr #allesdichtmachen II</div>
				<% end %>
				<div class="medienplus-article__intro">Noch ein Text zu den Schauspieler-Videos vom 22. April 2021, erschienen in der <a href="https://demokratischerwiderstand.de/magazin">Jahreschronik</a> der <a href="https://demokratischerwiderstand.de/">Wochenzeitung Demokratischer Widerstand</a> und so eine zweite Gelegenheit, für das <a href="https://www.oval.media/product/allesdichtmachen/">Buch zum Thema</a> zu werben. Zur Premiere am 22. April hat der Verlag Ovalmedia ein <a href="https://www.youtube.com/watch?v=BYFmmrOxSww">Video</a> aufgezeichnet, in dem ich fünf Minuten über das Projekt berichte, vier kürzere Auszüge vorlese und ein paar Journalistenfragen beantworte.</div>
				</div>
			</div>
		</div>
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
	</div>
</div>	

	<!-- Header END-->

	<!-- Content -->
<div class="wrapper">
	<div class="row">
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
		<div class="col-7-of-12">
			<div class="medienplus-article">
				
				<div class="medienplus-article__headline">Fünf Tage im April</div>
				<h3 class="medienplus-article__subheadline">Wie eine Kunstaktion das Land verändert hat</h3>
				<div class="medienplus-article__text">Zum Regieren brauche er nur Bild, BamS und Glotze, soll Gerhard Schröder einst gesagt haben, der Bundeskanzler war in einem Land vor unserer Zeit. Heute wissen wir: Es ist egal, was die Bildzeitung schreibt, und wenn das Fernsehen endlich in die Pötte kommt, spielt der Medienzirkus längst in einer anderen Stadt. Inzwischen herrscht der Mob auf Twitter, oft in Personalunion mit dem Jungvolk, das gerade erst seine Bologna-Windeln abgelegt und aus den Elitezeitungen Gesinnungssprachrohre gemacht hat.</div>
				<div class="medienplus-article__text">Gerhard Schröder hat sich, soweit ich weiß, nicht zur Aktion #allesdichtmachen geäußert. Im Frühjahr 2021 jedenfalls ist der schöne Satz, der so wunderbar zum Image Medienkanzler passt, endgültig in die Geschichtsbücher verbannt worden. Die Bildzeitung hat alles in die Waagschale geworfen, um den 52 Menschen zu helfen, die Gesicht gezeigt haben, als eine außer Rand und Band geratene Virusbekämpfungspolitik die Gesellschaft zu paralysieren drohte. Geholfen hat das nicht, im Gegenteil. Spätestens nach fünf Tagen wusste jeder, was künftig allen blüht, die es wagen würden, Parteienkartell und Journalismus öffentlich zu attackieren.</div>
				<div class="medienplus-article__highlight">Der Reihe nach. 22. April 2021, ein Donnerstag. 15 Minuten vor Mitternacht erscheint #allesdichtmachen in der Onlineausgabe der Bildzeitung. <a href="https://www.bild.de/politik/inland/politik-inland/allesdichtmachen-deutschlands-bekannteste-schauspieler-kritisieren-die-corona-po-76163264.bild.html">O-Ton</a>: „Mit Ironie, Witz und Sarkasmus hinterfragen Deutschlands bekannteste Schauspielerinnen und Schauspieler die Corona-Politik der Bundesregierung und kritisieren die hiesige Diskussionskultur.“</div>
				<div class="medienplus-article__text">Die 53 Videos sind da erst ein paar Stunden online, aber zumindest auf der „Haupt-Website der Aktion“ schon nicht mehr abrufbar. „Offenbar gehacked“, schreibt die Bildzeitung und wirbt für YouTube. Außerdem gibt es positive Reaktionen (etwa vom Virologen Jonas Schmidt-Chanasit, der von einem „Meisterwerk“ gesprochen habe)  sowie einen Ausblick auf das, was die Leitmedien dann dominieren wird: „Manche User auf Twitter und Facebook versuchen, die Aktion in die Coronaleugner-Ecke zu rücken. Dabei leugnet keiner der Schauspielerinnen und Schauspieler auch nur ansatzweise die Existenz des Coronavirus.“</div>
				<div class="medienplus-article__text">Kommunikationswissenschaftlich gesprochen: Die Bildzeitung setzt hier zwar ein Thema, aber nicht den Ton. Anders gesagt: Was am Donnerstagabend noch zu gelten scheint, ist am Freitag nicht mehr wahr. „Wenn man seinen eigenen Shitstorm verschlafen hat“, twittert <a href="https://www.derstandard.de/story/2000126265452/manuel-rubey-ueber-allesdichtmachen-ein-kafkaesker-albtraum">Manuel Rubey</a> an diesem Morgen, ein Schauspieler aus Österreich, der in seinem Video fordert, „die Theater, die Museen, die Kinos, die Kabarettbühnen überhaupt nie wieder aufzusperren“. Eine Woche später erklärt Rubey im Wiener Standard seinen Tweet. Gleich nach der Veröffentlichung habe er vor dem Zu-Bett-Gehen „noch ein bisschen Kommentare gelesen“ und „das Gefühl“ gehabt, „dass es verstanden wird, wie es gemeint war“. Der Tag danach: „ein kafkaesker Albtraum. Kollegen entschuldigten sich privat, dass sie ihre positiven Kommentare nun doch gelöscht hätten.“</div>
				<div class="medienplus-article__text">An der Bildzeitung hat das nicht gelegen. Die Redaktion blieb bei ihrer Linie und bot <a href="https://www.bild.de/unterhaltung/leute/kino/allesdichtmachen-dietrich-brueggemann-wir-haben-in-ein-wespennest-gestochen-76200660.bild.html">Dietrich Brüggemann</a> an Tag fünf (Montag) eine Video-Bühne für eine Art Schlusswort zur Debatte (Länge: über zwölf Minuten), ohne den Regisseur zu denunzieren. Vorher finden sich hier Stimmen, die sonst nirgendwo zu hören waren – etwa <a href="https://www.bild.de/unterhaltung/leute/leute/allesdichtmachen-film-star-ben-becker-was-ist-aus-unserem-land-geworden-76191482.bild.html">Peter-Michael</a> Diestel, letzter DDR-Innenminister, der die „Diskussionskultur beschädigt“ sieht, oder eine <a href="https://www.bild.de/unterhaltung/leute/leute/allesdichtmachen-film-star-ben-becker-was-ist-aus-unserem-land-geworden-76191482.bild.html">PR-Agentin</a>, die ihren „Klienten abgeraten“ hat, „sich in den Sturm zu stellen“.</div>
				<div class="medienplus-article__text">Geschossen wurde aus allen Rohren – auf Twitter und in den anderen Leitmedien. Tenor: Die Kritik ist ungerechtfertigt und schädlich. Den Beteiligten wurde vorgeworfen, „zynisch“ und „hämisch“ zu sein, die Gesellschaft zu spalten, ohne etwas „Konstruktives“ beizutragen, und nur an sich selbst und „ihre eigene Lage“ zu denken. Dabei wurden Vorurteile gegen Kunst und Künstler aktiviert und Rufmorde inszeniert. „Für mich ist das Kunst aus dem Elfenbeinturm der Privilegierten, ein elitäres Gewimmer“, sagte die Schauspielerin <a href="https://www.jetzt.de/kultur/nach-allesdichtmachen-kampagne-was-halten-andere-prominente-schauspieler-innen-von-der-aktion">Pegah Ferydoni</a> der Süddeutschen Zeitung. <a href="https://www.faz.net/aktuell/feuilleton/medien/gescheiterte-satire-ueber-corona-politik-allesdichtmachen-17308029.html">Michael Hanfeld</a> bescheinigte den Schauspielprofis in der FAZ, ihre Texte „peinlich aufgesagt“ zu haben. In der Zeit fiel das Wort „<a href="https://www.zeit.de/kultur/film/2021-04/allesdichtmachen-schauspieler-corona-massnahmen-pandemie-politik?utm_referrer=https%3A%2F%2Fwww.google.de%2F">grauenhaft</a>“, und eine Spiegel-Videokolumne sprach sogar von „<a href="https://www.spiegel.de/kultur/allesdichtmachen-als-film-muesste-diese-kampagne-kleinhirnkueken-heissen-a-061bb3ba-3b04-4ee0-9417-737017f70b01">Waschmittelwerbung</a>“.</div>
				<div class="medienplus-article__text">In der Bildzeitung ließen Überschriften und Kommentare dagegen keinen Zweifel, wo die Sympathien der Redaktion liegen. „<a href="https://www.bild.de/unterhaltung/leute/leute/allesdichtmachen-mit-meret-becker-liefers-und-co-heftige-kritik-von-ulrich-matth-76177452.bild.html">Filmakademie-Präsident geht auf Kollegen los</a>“, steht über der Meldung, dass Ulrich Matthes die Aktion kritisiert hat. Dachzeile: „‚Zynisch‘, ‚komplett naiv und ballaballa‘“. Auf dem Foto wirkt Matthes arrogant und abgehoben – wie ein Köter, der um sich beißt. „Ich bin ein #allesdichtmachen-Fan“, schreibt Bild-Urgestein <a href="https://www.bild.de/politik/kolumnen/franz-josef-wagner/post-von-wagner-ich-bin-ein-allesdichtmachenfan-76190662.bild.html">Franz-Josef Wagner</a> am 25. April über seine Kolumne.</div>
				<div class="medienplus-article__text">Ralf Schuler, als Leiter der Parlamentsredaktion ebenfalls ein Schwergewicht, äußert sich gleich zweimal. „<a href="https://www.bild.de/politik/inland/politik-inland/bei-allesdichtmachen-diese-werke-und-momente-zitieren-die-schauspieler-76175906.bild.html">Großes Kino!</a>“ sagt er am 23. April. Am nächsten Tag versteht <a href="https://www.bild.de/politik/kolumnen/kolumne/kommentar-zu-allesdichtmachen-was-ist-eigentlich-los-in-deutschland-76176452.bild.html">Schuler</a> sein Land nicht mehr: „53 Top-Künstler greifen in Videos die Corona-Stimmung im Lande auf: Kontakt- und Ausgangssperre, Alarmismus, Denunziantentum, wirtschaftliche Not und Ohnmachtsgefühle. Die Antwort: Hass, Shitstorm und ein SPD-Politiker denkt sogar öffentlich über Berufsverbote für die beteiligten Schauspieler nach. Binnen Stunden ziehen die ersten verschreckt ihre Videos zurück, andere distanzieren sich, müssen öffentlich Rechtfertigungen abgeben. Geht’s noch?“ Weiter bei Schuler: „Es ist Aufgabe von Kunst und Satire, dahin zu zielen, wo es wehtut, Stimmungen aufzugreifen und aufzubrechen, Machtworte zu ignorieren und dem Virus nicht das letzte Wort zu lassen. Auch, wenn ein Teil des Zuspruchs von schriller, schräger oder politisch unappetitlicher Seite kommt. Das überhaupt erwähnen zu müssen, beschreibt bereits das Problem: eine Politik, die ihr Tun für alternativlos, ultimativ und einzig wahr hält und Kritiker in den Verdacht stellt, Tod über Deutschland bringen zu wollen.“</div>
				<div class="medienplus-article__text">Viel mehr muss man nicht sagen. Die Aktion #allesdichtmachen war ein Lehrstück. Nach diesen fünf Tagen im April wusste jeder, wie die Kräfte im Land verteilt sind. Das Wort Diskussionskultur wurde aus dem Duden gestrichen. Und selbst Gerhard Schröder konnte sehen, dass sich die Definitionsmachtverhältnisse geändert haben – weg von der Bildzeitung und damit von Milieus ohne akademische Abschlüsse oder Bürojobs, hin zu den Leitmedien der Menschen, die in irgendeiner Weise vom Staat abhängen und deshalb Zeit haben, sich eine Wirklichkeit zurechtzutwittern.</div>

				
				<div class="medienplus-article__text"><strong>Michael Meyen</strong>: Ein Jahr #allesdichtmachen II. In: Medienrealität 2022.</div>
				<div class="medienplus-article__text">Zuerst erschienen auf: 
				<a href="https://medienblog.hypotheses.org/10691">https://medienblog.hypotheses.org/10691</a></div>
				<div class="medienplus-article__highlight"></div>
			</div>
		</div>

		
	</div>

	<!-- Content END-->


	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>
</div>