<div class="wrapper">
	
	<%= render "shared/nav" %>

	<div class="portrait__header">
		<figure>
			<div class="portrait__layer"></div>
			<%= image_tag 'portrait/03_kurse-portrait.jpg', alt: 'Angebot 2024', class:'imageheader__image ' %>
			<figcaption>
				<h1>
					<span class="bg bg__blue">Aktuelle Kurse</span>
				</h1>
			</figcaption>
		</figure>
	</div>

	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-4-of-9">
			<div class="breadcrumb mb--2 mt--2"><%= link_to 'Home', root_path %> > <%= link_to 'Kurse', angebot_2023_2024_path %></div>
		</div>
	</div>


	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="row">
				<div class="col-full">
					<div class="mb--5">
						<p class="intro mb--2">Unsere Trainings sind für Menschen gedacht, die weder ein Volontariat noch eine der Journalistenschulen durchlaufen haben, aber trotzdem professionell arbeiten möchten. Wir sprechen über Qualität im Journalismus und zeigen, wie man sie erreichen kann. In Kurzform: Durch Übung zur Meisterschaft. Man kann Kurse kombinieren, aber auch nur ein Training besuchen. Keineswegs nur Nebenprodukt: eine kleine Gemeinschaft, die Aufklärung und Machtkontrolle für den Kern des Journalismus hält.
						</p>

						<p class="intro">
							Willkommen sind alle, die unzufrieden sind mit der Qualität der Leitmedien, es besser machen wollen und die Bereitschaft mitbringen, andere zu kritisieren und selbst Kritik auszuhalten. Zu bezahlen sind die Fahrt in die Oberpfalz (Urlaubsgegend!) und die Unterkunft vor Ort. Dazu kommt ein Unkostenbeitrag für den Seminarraum (abhängig von der Teilnehmerzahl). Ein Kurs findet statt, wenn es sechs Anmeldungen gibt (Maximalgröße: zwölf Personen). Angebote und Bewerbungsschluss:
						</p>
					</div>
					
					<div class="portrait__facts">
						<ul class="facts">
							<li>Journalismus-Retreat, 2. bis 5. Oktober 2025, Bewerbung bis spätestens 31. Mai 2025</li>
						</ul>
						<div class="portrait__highlights">
							<ul class="portrait__highlights">
								<li><span>Alle Infos zum Journalismus-Retreat in diesem <a href="https://www.freie-medienakademie.de/uploads/store/1c590138574112fe9e32ac1792b6e746.pdf">Infoblatt</a></span></li>
							</ul>
						</div>					
					</div>

					<div class="portrait__facts">
						<ul class="facts">
							<li>Intellektuelle Selbstverteidigung, 9. bis 12. Oktober 2025, Bewerbung bis spätestens 30. Juni 2025</li>	
						</ul>
						<div class="portrait__highlights">
							<ul class="portrait__highlights">
								<li><span>Alle Infos zum Kurs in diesem <a href="https://www.freie-medienakademie.de/uploads/store/e1530fe033f82e03c6e2248a492f2887.pdf">Infoblatt</a></span></li>
							</ul>
						</div>					
					</div>
					
				</div>
			</div>
		</div>
	</div>	


	<div class="space">&nbsp;</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>


</div>
