<div class="wrapper">

	<div class="nav" id="nav">
		<div class="wrapper wrapper__inner">
			<div class="nav__content">
			<div class="nav__logo">
				<%= link_to root_path do %>
					<%= show_svg('logo/akademie_logo.svg') %>
				<% end %>
			</div>
				<ul class="nav__items">
					<li><%= link_to 'Studiengang', studiengang_path %></li>
					<li><%= link_to 'Lehrgang', construction_path %></li>
					<li><%= link_to 'Medien +', construction_path %></li>
					<li class="nav__items--right">Mein Bereich</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="nav-mobile">
		<div class="nav-mobile__logo">
			<%= link_to root_path do %>
				<%= show_svg('logo/akademie_logo_small.svg') %>
			<% end %>
		</div>
		<a href="javascript:void(0);" class="nav-mobile__trigger" id="nav-mobile__trigger" onclick="toggleNav()"></a>
		<div class="nav-mobile__content">   				
			<div class="nav-mobile__items" id="nav-mobile__items">
				<ul>
					<%= link_to 'Studiengang', studiengang_path %>
					<%= link_to 'Lehrgang', construction_path %>
					<%= link_to 'Medien +', construction_path %>
				</ul>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1><span class="bg bg__blue">Under Construction</span></h1>
				</div>
	
			</div>
			<div class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Under construction', construction_path %></div>
		</div>
	</div>

	<div class="space__small">&nbsp;</div>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<h2>Dieser Inhalt befindet sich im Aufbau.<br>Bitte haben Sie noch etwas Geduld!</h2>		
			<div class="space__smaller">&nbsp;</div>
			<div>
			<%= link_to root_path do %>
				<span class="button button__blue link-deko__right"> Startseite </span>
			<% end %>
			</div>
		</div>		
	</div>

	<div class="space">&nbsp;</div>

	<div class="wrapper wrapper__inner">
		<div class="footer">
			<div class="row">
				<div class="col-1-of-4">
					<h3>Akademie</h3>
					<ul>
						<li><%= link_to 'Was wir bieten', root_path(anchor: 'portfolio') %></li>
						<li><%= link_to 'Wer wir sind', root_path(anchor: 'portrait') %></li>
						<li><%= link_to 'Spielend lernen', root_path(anchor: 'gamification') %></li>
						<li><%= link_to 'Wen wir empfehlen', root_path(anchor: 'partner') %></li>
					</ul>
				</div>
				<div class="col-1-of-4">
					<h3>Beliebte Inhalte</h3>
					<ul>
						<li><%= link_to 'Studiengang', studiengang_path %></li>
						<li>Lehrgang</li>
						<li>Medien +</li>
					</ul>
				</div>
				<div class="col-1-of-4">
					<h3>Kontakt</h3>
					<ul>
						<li><a href="mailto:freie-medienakademie@posteo.de?subject=Bewerbung"><span class="button button__blue link-deko__right"> Jetzt bewerben </span></a></li>
					</ul>
					<h3><%= link_to 'Impressum', impressum_path %></h3>
				</div>
				<div class="col-1-of-4">
					<%= show_svg('logo/akademie_logo.svg') %>
				</div>
			</div>		
		</div>
	</div>



</div>