								<!-- js import -->
<div class="wrapper">

	<%= render "shared/nav" %>


	<div class="header">
		<figure class="header-image">
			<div class="header__image">
				<video id="background-video" autoplay loop muted poster="<%= asset_path 'headers/header_index.png' %>">
				<source src="<%= asset_path 'videos/home.mp4' %>" type="video/mp4">
				</video>

			</div>
			<div class="header__text">
				<figcaption> Die Akademie bietet einen Raum, in dem unabhängig von Politik, Wirtschaft und Staat Journalismus trainiert und diskutiert werden kann &ndash; weil Freiheit auch von der Qualität der Informationen abhängt, die unser Handeln leiten. 
				</figcaption>
			</div>
		</figure>
	</div>

	<!-- Begin Content - 2 Column Layout -->
	<div class="wrapper wrapper__inner">
		<div class="row">
			<div class="col-2-of-3">
				<div class="row">
					<div class="portfolio">
						<div class="col-full">
							<p class="meta">Informationsportfolio</p>
							<div class="bg__spacer">
								<span class="bg bg__blue">Was wir bieten</span>
							</div>
						</div>
					</div>

					<div class="row">
					
						<div class="col-1-of-3" id="portfolio">
							<%= link_to studiengang_path do %>
								<div class="portfolio__box">
									<figure class="portfolio__image">
										<div class="portfolio__layer"></div>
											<%= image_tag 'tiles/01_studiengang.jpg', alt: 'Lehrgang', class:' ' %>
										<figcaption class="portfolio__caption">
											<div class="portfolio__category portfolio__category--yellow">Kurse
											</div>
											<div class="portfolio__title">Journalistische Praxis</div>
										</figcaption>
									</figure>
								</div>
							<% end %>
							<p class="portfolio__text t16_28">Für (Medien)Menschen, die Reflexion, Austausch oder einfach nur Handwerk suchen.</p>
						
						</div>

						<div class="col-1-of-3">
							<%= link_to lehrgang_path do %>
								<div class="portfolio__box">
									<figure class="portfolio__image">
										<div class="portfolio__layer"></div>
											<%= image_tag 'tiles/02_lehrgang.jpg', alt: 'Lehrgang', class:' ' %>
										<figcaption class="portfolio__caption">
											<div class="portfolio__category portfolio__category--green">Lehrgang</div>
											<div class="portfolio__title">Informations&shy;autonomie</div>
										</figcaption>
									</figure>
								</div>
							<% end %>
							<p class="t16_28">Für alle, die lernen wollen, öffentlich zugängliche Texte einzuordnen.</p>
						</div>

						<div class="col-1-of-3">
							<%= link_to medien_plus_path do %>
								<div class="portfolio__box">
									<figure class="portfolio__image">
										<div class="portfolio__layer"></div>
										<%= image_tag 'tiles/03_medien.jpg', alt: 'Medien+', class:' ' %>
										<figcaption class="portfolio__caption">
											<div class="portfolio__category portfolio__category--white">Medien +</div>
											<div class="portfolio__title">Blog: Berichte, Interviews, Analysen</div>
										</figcaption>
									</figure>
								</div>
							<% end %>
							<p class="t16_28">Das Beste aus dem Studiengang und aktuelle Texte.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<hr>
				</div>
				<div class="row" id="portrait">
					<div class="row">
						<div class="col-full">
							<p class="meta">Lehre hautnah</p>
							<div class="bg__spacer">
								<span class="bg bg__blue-l">Mit uns trainieren</span>
							</div>
						</div>
					</div>
					<div class="col-1-of-3">
						<div class="portrait__box">
							<%= link_to angebot_2023_2024_path do %>
							<div class="portrait__image" style="background: url( <%= asset_path 'portrait/kurse.jpg' %> ); ">
								<div class="portrait__frame"></div>
							</div>
							<% end %>
						</div>
						<p class="portrait__headline">Angebot 2023/24: </p>
						<p class="portrait__bio">Kompaktkurs im Oktober, Bericht im Januar (mit Online-Vorbereitung) und Interview im April<br><br></p>
						<%= link_to 'Mehr Infos', angebot_2023_2024_path, class: 'portrait__link link-deko' %>
					</div>
					<div class="col-1-of-3">
						<div class="portrait__box">
							<%= link_to portrait_antje_path do %>
								<div class="portrait__image" style="background: url( <%= asset_path 'portrait/antje.jpg' %> ); ">
									<div class="portrait__frame"></div>
								</div>
							<% end %> 
						</div>
						<p class="portrait__headline">Ante Meyen</p>
						<p class="portrait__bio">Diplomjournalistin und langjährige Lehrbeauftragte an der LMU München mit mehr als drei Jahrzehnten Berufspraxis</p>
						
						<%= link_to 'Zum Steckbrief', portrait_antje_path, class: 'portrait__link link-deko' %>
					</div>
					<div class="col-1-of-3">
						<div class="portrait__box">
							<%= link_to portrait_michael_path do %>
								<div class="portrait__image" style="background: url( <%= asset_path 'portrait/michael.jpg' %> ); ">
									<div class="portrait__frame"></div>
								</div>
							<% end %>
						</div>
						<p class="portrait__headline">Michael Meyen</p>
						<p class="portrait__bio">Diplomjournalist und Medienforscher, seit 2002 als Professor auch in der akademischen Journalistenausbildung</p>
						
						<%= link_to 'Zum Steckbrief', portrait_michael_path, class: 'portrait__link link-deko' %>
					</div>
				</div>
				<div class="row">
					<hr>
				</div>
				<div class="row">
					
					<!--
					<div class="row" id="gamification">
						<div class="col-full">
							<p class="meta">Gamification</p>
							<div class="bg__spacer">
								<span class="bg bg__yellow">Spielend lernen</span>
							</div>
						</div>
					</div>


					<div class="row bg__black">
						<div class="banner">
							<div class="col-5-of-8">
								<div class="banner__image-box">
								<%= image_tag 'banners/03_gamification.jpg', alt: 'gaymification', class:'banner__image ' %>
								</div>
							</div>
							<div class="col-3-of-8">
								<div class="banner__content">
									<div class="banner__text">„Mein Kampf für Freiheit, Gleicheit, Schutz“ 70 Jahre Grundgesetz - ist alles schwarz-rot-gold was glänzt?
									</div>
										<%= link_to construction_path do %>
											<span class="button button__black">Mehr erfahren</span>
										<% end %>
								</div>								
							</div>

						</div>
					</div>
				-->
				</div>

			</div>


			<!-- sidebar 2nd column-->
			<div class="col-1-of-3">
				<div class="row">
					<div class="col-1-of-4 mobile-non">&nbsp;</div>
					<div class="col-3-of-4">
						<div class="sidebar__aktuelles">
							<h2 class="sidebar__headline"> Aktuelles</h2>

							<% @published_articles.each do |article| %>
							<div class="sidebar__block">
								<%= link_to article do %>
									<%= image_tag  article.image_url, class: 'sidebar__image' %>
								<% end %>
								<div class="sidebar__aktuelles--meta">
									<span class="sidebar__aktuelles--category"><%= article.category %></span> | 
									<span class="sidebar__aktuelles--date"><%= article.date.strftime("%d.%m.%Y") %></span>
								</div>
								<div class="sidebar__aktuelles--headline"><%= link_to article.title, article %></div>
								<div class="sidebar__aktuelles--intro"><%= article.teaser %><br>Text: <%= article.author %></div>
								<%= link_to 'weiterlesen', article, class: 'sidebar__aktuelles--link link-deko' %>
							</div>
							<% end %>

								<!-- 
									<lottie-player src="13829-social-media-icon.json" background="transparent" speed="1" style="width: 233px; height: 233px;" loop></lottie-player>
								-->
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar endf -->
	</div>

	<div class="row">
		<div class="col-full">
			<div class="newsletter">
				<div class="newsletter__content">
					<%= image_tag 'banners/04_cta.jpg', alt: 'Newsletter', class:'' %>
					<div class="newsletter__text">
						<span class="newsletter__text--text">Maximal unabhängig</span> <br> <span class="newsletter__text--text">minimal befangen</span>
					</div>
					<%= link_to construction_path do %>
						<span class="button button__white newsletter__button">Newsletter abonnieren</span></a>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="space">
		</div>
	</div>		


	<div class="partner" >
		<div class="wrapper wrapper__inner">
			<div class="row">
				<div class="col-full">
					<p class="meta" id="partner">Unser Netzwerk</p>
					<div class="bg__spacer">
						<span class="bg bg__blue">Wen wir empfehlen</span>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://apolut.net/">
							<span class="partner__link--helper"><%= image_tag 'partners/05_apolut.jpg', alt: 'apolut', class:'' %></span>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://multipolar-magazin.de/">
							<%= image_tag 'partners/05_multipolar.jpg', alt: 'multipolar', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.nachdenkseiten.de/">
							<%= image_tag 'partners/05_nachdenkseiten.jpg', alt: 'nachdenkseiten', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.manova.news/">
							<%= image_tag 'partners/05_manova.jpg', alt: 'manova', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://clubderklarenworte.de/">
							<%= image_tag 'partners/05_langemann.jpg', alt: 'Club der klaren Worte', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.vierte.online/">
							<%= image_tag 'partners/05_vier.jpg', alt: 'vier', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://kontrafunk.radio/de/">
							<%= image_tag 'partners/05_kontrafunk.jpg', alt: 'kontrafunk', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.hintergrund.de/">
							<%= image_tag 'partners/05_hintergrund.jpg', alt: 'Hintergrund', class:'' %>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<%= render 'shared/cite' %>
	</div>	

	<%= render "shared/footer" %>

</div>