								<!-- js import -->
<div class="wrapper">

	<%= render "shared/nav" %>


	<div class="header">
		<figure class="header-image">
			<div class="header__image">
				<video id="background-video" autoplay loop muted poster="<%= asset_path 'headers/header_index.png' %>">
				<source src="<%= asset_path 'videos/home.mp4' %>" type="video/mp4">
				</video>

			</div>
			<div class="header__text">
				<figcaption> Die Akademie bietet einen Raum, in dem unabhängig von Politik, Wirtschaft und Staat Journalismus trainiert und diskutiert werden kann &ndash; weil Freiheit auch von der Qualität der Informationen abhängt, die unser Handeln leiten. 
				</figcaption>
			</div>
		</figure>
	</div>



	<!-- Begin Content - 2 Column Layout -->
	<div class="wrapper wrapper__inner">
		<div class="row">

			<!-- Only mobile "aktuelles" -->
			<div class="col-1-of-3 desktop-non">
			  <div class="row">
			    <div class="col-1-of-4 mobile-non">&nbsp;</div>
			    <div class="col-3-of-4">
			      <div class="sidebar__aktuelles">
			        <h2 class="sidebar__headline"> Aktuelles</h2>

			        <% @published_articles.each do |article| %>
			          <div class="sidebar__block">
			            <%= link_to article do %>
			              <% if article.image.present? %>
			                <%= image_tag article.image_url, class: 'sidebar__image' %>
			              <% else %>
			                <p>Kein Bild vorhanden</p>
			              <% end %>
			            <% end %>
			            <div class="sidebar__aktuelles--meta">
			              <span class="sidebar__aktuelles--category"><%= article.category %></span> | 
			              <span class="sidebar__aktuelles--date"><%= article.date.strftime("%d.%m.%Y") %></span>
			            </div>
			            <div class="sidebar__aktuelles--headline"><%= link_to article.title, article %></div>
			            <div class="sidebar__aktuelles--intro"><%= article.teaser %><br>Text: <%= article.author %></div>
			            <%= link_to 'weiterlesen', article, class: 'sidebar__aktuelles--link link-deko' %>
			          </div>
			        <% end %>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Content -->

			<div class="col-2-of-3">
				<div class="row">
					<div class="portfolio">
						<div class="col-full">
							<div class="bg__spacer">
								<span class="bg bg__blue">Was wir bieten</span>
							</div>
						</div>
					</div>

					<div class="row">
					
						<div class="col-1-of-3" id="portfolio">
							<%= link_to kolumnen_path do %>
								<div class="portfolio__box">
									<figure class="portfolio__image">
										<div class="portfolio__layer"></div>
											<%= image_tag 'tiles/01_studiengang.jpg', alt: 'Kolumnen', class:' ' %>
										<figcaption class="portfolio__caption">
											<div class="portfolio__category portfolio__category--yellow">Kolumnen
											</div>
											<div class="portfolio__title">Persönliche Perspektiven</div>
										</figcaption>
									</figure>
								</div>
							<% end %>
							
						
						</div>

						<div class="col-1-of-3">
							<%= link_to lehrgang_path do %>
								<div class="portfolio__box">
									<figure class="portfolio__image">
										<div class="portfolio__layer"></div>
											<%= image_tag 'tiles/02_lehrgang.jpg', alt: 'Lehrgang', class:' ' %>
										<figcaption class="portfolio__caption">
											<div class="portfolio__category portfolio__category--green">Videos</div>
											<div class="portfolio__title">Medienrealität, Ideen, Geschichte</div>
										</figcaption>
									</figure>
								</div>
							<% end %>
							
						</div>

						<div class="col-1-of-3">
							<%= link_to medien_plus_path do %>
								<div class="portfolio__box">
									<figure class="portfolio__image">
										<div class="portfolio__layer"></div>
										<%= image_tag 'tiles/03_medien.jpg', alt: 'Tresen', class:' ' %>
										<figcaption class="portfolio__caption">
											<div class="portfolio__category portfolio__category--white">Tresen</div>
											<div class="portfolio__title">Berichte, Interviews, Analysen</div>
										</figcaption>
									</figure>
								</div>
							<% end %>
							
						</div>
					</div>
				</div>
				<div class="row">
					<hr>
				</div>
				<div class="row" id="portrait">
					<div class="row">
						<div class="col-full">
							<div class="bg__spacer">
								<span class="bg bg__blue-l">Mit uns trainieren</span>
							</div>
						</div>
					</div>
					<div class="col-1-of-3">
						<div class="portrait__box">
							<%= link_to studiengang_path do %>
							<div class="portrait__image" style="background: url( <%= asset_path 'portrait/kurse.jpg' %> ); ">
								<div class="portrait__frame"></div>
							</div>
							<% end %>
						</div>
						<p class="portrait__headline">Kurse</p>
						<p class="portrait__bio">Für (Medien)Menschen, die Reflexion, Austausch oder einfach nur Handwerk suchen.<br><br></p>
						<%= link_to 'Mehr Infos', studiengang_path, class: 'portrait__link link-deko' %>
					</div>
					<div class="col-1-of-3">
						<div class="portrait__box">
							<%= link_to portrait_antje_path do %>
								<div class="portrait__image" style="background: url( <%= asset_path 'portrait/antje.jpg' %> ); ">
									<div class="portrait__frame"></div>
								</div>
							<% end %> 
						</div>
						<p class="portrait__headline">Antje Meyen</p>
						<p class="portrait__bio">Diplomjournalistin und langjährige Lehrbeauftragte an der LMU München mit mehr als drei Jahrzehnten Berufspraxis</p>
						
						<%= link_to 'Zum Steckbrief', portrait_antje_path, class: 'portrait__link link-deko' %>
					</div>
					<div class="col-1-of-3">
						<div class="portrait__box">
							<%= link_to portrait_michael_path do %>
								<div class="portrait__image" style="background: url( <%= asset_path 'portrait/michael.jpg' %> ); ">
									<div class="portrait__frame"></div>
								</div>
							<% end %>
						</div>
						<p class="portrait__headline">Michael Meyen</p>
						<p class="portrait__bio">Diplomjournalist und Medienforscher, seit 2002 als Professor auch in der akademischen Journalistenausbildung</p>
						
						<%= link_to 'Zum Steckbrief', portrait_michael_path, class: 'portrait__link link-deko' %>
					</div>
				</div>
				<div class="row">
					<hr>
				</div>
				<div class="row">
					<div class="row mobile-non">
						<div class="col-full">
							<div class="newsletter">
								<div class="newsletter__content">
									<%= image_tag 'banners/04_cta.jpg', alt: 'Newsletter', class:'' %>
									<div class="newsletter__text">
										<span class="newsletter__text--text">Maximal unabhängig</span> <br> <span class="newsletter__text--text">minimal befangen</span>
									</div>
									<%= link_to newsletter_path do %>
										<span class="button button__white newsletter__button">Newsletter abonnieren</span>
									<% end %>
								</div>
							</div>
						</div>
					</div>

					<div class="row desktop-non">
						<div class="col-full">
							<div class="newsletter newsletter-mobile">
								<div class="newsletter-mobile__content">
									<%= image_tag 'banners/04_cta.jpg', alt: 'Newsletter', class:'' %>
									<div class="newsletter__text">
										<span class="newsletter-mobile__text">Maximal unabhängig</span> <br> <span class="newsletter-mobile__text">minimal befangen</span>
									</div>
								</div>
							</div>
							<div class="ma">
								<div class="mt--2 tac">
								<%= link_to newsletter_path do %>
									<span class="button button__white newsletter-mobile__button">Newsletter abonnieren</span>
								<% end %>
							</div>
						</div>
						</div>
					</div>		

				</div>
			</div>
			<!-- End Content-->

			<!-- sidebar 2nd column-->
			<div class="col-1-of-3 mobile-non">
			  <div class="row">
			    <div class="col-1-of-4 mobile-non">&nbsp;</div>
			    <div class="col-3-of-4">
			      <div class="sidebar__aktuelles">
			        <h2 class="sidebar__headline"> Aktuelles</h2>

			        <% @published_articles.each do |article| %>
			          <div class="sidebar__block">
			            <%= link_to article do %>
			              <% if article.image.present? %>
			                <%= image_tag article.image_url, class: 'sidebar__image' %>
			              <% else %>
			                <p>Kein Bild vorhanden</p>
			              <% end %>
			            <% end %>
			            <div class="sidebar__aktuelles--meta">
			              <span class="sidebar__aktuelles--category"><%= article.category %></span> | 
			              <span class="sidebar__aktuelles--date"><%= article.date.strftime("%d.%m.%Y") %></span>
			            </div>
			            <div class="sidebar__aktuelles--headline"><%= link_to article.title, article %></div>
			            <div class="sidebar__aktuelles--intro"><%= article.teaser %><br>Text: <%= article.author %></div>
			            <%= link_to 'weiterlesen', article, class: 'sidebar__aktuelles--link link-deko' %>
			          </div>
			        <% end %>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- sidebar endf -->
	</div>



	<div class="partner" >
		<div class="wrapper wrapper__inner">
			<div class="row">
				<div class="col-full">
					<div class="bg__spacer">
						<span class="bg bg__blue">Wen wir empfehlen</span>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://apolut.net/">
							<span class="partner__link--helper"><%= image_tag 'partners/05_apolut.jpg', alt: 'apolut', class:'' %></span>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://multipolar-magazin.de/">
							<%= image_tag 'partners/05_multipolar.jpg', alt: 'multipolar', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.nachdenkseiten.de/">
							<%= image_tag 'partners/05_nachdenkseiten.jpg', alt: 'nachdenkseiten', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.manova.news/">
							<%= image_tag 'partners/05_manova.jpg', alt: 'manova', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://clubderklarenworte.de/">
							<%= image_tag 'partners/05_langemann.jpg', alt: 'Club der klaren Worte', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.vierte.online/">
							<%= image_tag 'partners/05_vier.jpg', alt: 'vier', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://kontrafunk.radio/de/">
							<%= image_tag 'partners/05_kontrafunk.jpg', alt: 'kontrafunk', class:'' %>
						</a>
					</div>
				</div>
				<div class="col-1-of-4">
					<div class="partner__link">
						<a href="https://www.hintergrund.de/">
							<%= image_tag 'partners/05_hintergrund.jpg', alt: 'Hintergrund', class:'' %>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<%= render 'shared/cite' %>
	</div>	

	<%= render "shared/footer" %>

</div>