<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1>
						<span class="bg bg__green">Präsenzseminar</span>
						<div class="seperator">&nbsp;</div>
						<span class="bg bg__green">Informationsautonomie</span>
					</h1>
				</div>
			</div>
			<div class="breadcrumb">
				<%= link_to 'Home', root_path %> > <%= link_to 'Lehrgang', lehrgang_path %> > <%= link_to 'Präsenzseminar Informationsautonomie', lehrgang_praesenz_path %>		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="space">
		</div>
	</div>					

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>

		<div class="col-9-of-12">
			<div class="row">
				<div class="col-4-of-9">
					<p class="meta"> Informationsportfolio</p>
					<div class="bg__spacer">
						<span class="bg bg__blue">Von Medienqualität </span>
						<div class="seperator">&nbsp;</div>
						<span class="bg bg__blue">&amp; Achtsamkeit</span>
					</div>
				</div>
				<div class="col-5-of-9">
					<p class="intro">Medienqualität, was ist das? Wir diskutieren an Beispielen in einer kleinen Gruppe bei Ihnen vor Ort …Sie haben Interesse an einer Veranstaltung? Schreiben Sie uns Ihre Vorschläge …
					</p>
				</div>
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>