<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1>
						<span class="bg bg__green">Videos</span>
					</h1>
				</div>
			</div>
			<div class="breadcrumb">
				<%= link_to 'Home', root_path %> > <%= link_to 'Videos', lehrgang_path %>		
			</div>
		</div>
	</div>				
	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>

		<div class="col-9-of-12">
			<div class="header-small__video">
				<video id="background-video-lehrgang" autoplay loop muted poster="<%= asset_path 'headers/02_header_lehrgang.png' %>">
				<source src="<%= asset_path 'videos/03_lehrgang.mp4' %>" type="video/mp4">
			</video>
			</div>
			<div class="row">				
				<div class="col-5-of-9">
					<p class="meta"> Medienrealität und Medienkompetenz</p>
					<div class="bg__spacer">
					</div>
					<span class="bg bg__green">Videos</span>
				</div>
				<div class="col-4-of-9">
					<p class="intro">Der Kanal von Michael Meyen ordnet Medienwust und Begriffsgeschichte. Immer wieder neu. Außerdem gibt es ein zweites Angebot – einen Onlinekurs für Menschen, die unzufrieden sind mit den Leitmedien und wissen wollen, wie die Inhalte entstehen, was sie mit dem Publikum machen und wie man am besten damit umgehen kann.
					</p>
				</div>
			</div>
		</div>
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
	</div>	



	<div class="row">
		<div class="col-1-of-12 mobile-non">&nbsp;</div>
		<div class="col-10-of-12">
			<div class="row">
				<div class="col-1-of-2">
					<%= link_to 'https://www.youtube.com/@Michael_Meyen' do %>
					<div class="switch-box">
						<figure class="switch-box__image">
							<div class="switch-box__layer"></div>
							<%= image_tag 'lehrgang/02_praesenzseminar.jpg', alt: 'Lehrgang', class:' ' %>
							<figcaption class="switch-box__caption">
								<div class="switch-box__headline">Medienrealität &amp; Medienkompetenz</div>
								<span class="button button__white button__white--transparent switch-box__button link-deko__right">Zum Kanal</span>
							</figcaption>
						</figure>
					</div>
					<% end %> 
				</div>
				<div class="col-1-of-2">
					<%= link_to lehrgang_online_path do %>
					<div class="switch-box">
						<figure class="switch-box__image">
							<div class="switch-box__layer"></div>
							<%= image_tag 'lehrgang/01_onlinekurs.jpg', alt: 'Lehrgang', class:' ' %>
							<figcaption class="switch-box__caption">
								<div class="switch-box__headline">Unser<br>Onlinekurs</div>
								<span class="button button__white button__white--transparent switch-box__button link-deko__right">Jetzt starten</span>
							</figcaption>
						</figure>
					</div>					
					<% end %>
				</div>
			</div>				
		</div>	
	</div>

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="row">
		<%= render 'shared/cite' %>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>