<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1>
						<span class="bg bg__green">Lehrgang</span>
						<div class="seperator">&nbsp;</div>
						<span class="bg bg__green">Informationsautonomie</span>
					</h1>
				</div>
			</div>
			<div class="breadcrumb">
				<%= link_to 'Home', root_path %> > <%= link_to 'Lehrgang Informationsautonomie', lehrgang_path %> > <%= link_to 'Onlinekurs', lehrgang_online_path %>		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="space">
		</div>
	</div>					

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>

		<div class="col-9-of-12">
			<div class="row">
				<div class="col-4-of-9">
					<p class="meta"> Informationsportfolio</p>
					<div class="bg__spacer">
						<span class="bg bg__blue">Medienqualität </span>
						<div class="seperator">&nbsp;</div>
						<span class="bg bg__blue">erkennen &amp; einfordern</span>
					</div>
				</div>
				<div class="col-5-of-9">
					<p class="intro">Dieses Angebot richtet sich an Menschen, die unzufrieden sind mit den Leitmedien und wissen wollen, wie die Inhalte entstehen, was sie mit dem Publikum machen und wie man am besten damit umgehen kann. Es gibt zwei Formen: einen Onlinekurs sowie die Möglichkeit, in einer überschaubaren Gruppe (15 bis maximal 25 Menschen) über Medienqualität zu sprechen.
					</p>
				</div>
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		


	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-5-of-12">
			<div class="accordion">
				
				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">01_Intro</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Worum es in diesem Kurs geht</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							In diesem Kurs gibt es Videos, Hintergrundtexte und Literaturempfehlungen. Es empfiehlt sich,tatsächlich mit den beiden längeren Beiträgen von Daniele Ganser und Michael Meyen einzusteigen und dann gezielt nach den Themen zu suchen, die einen gerade umtreiben.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">

							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
									<ul class="accordion__list">
										<li><a href="https://odysee.com/@FreieMedienakademie:b/intro:49">Intro: Auf dem Weg zur Informationsautonomie</a></li>
									</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">02_Propaganda I</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Wie unsere Gedanken und Gefühle gelenkt werden.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">Daniele Ganser geht in diesem 90-Minuten-Vortrag (aufgezeichnet 2019) zurück zu Edward Bernays (1928) und zeigt am Beispiel von Werbung (Autos, Cola), Kriegen (Irak 1990 und 2003, Ukraine 2014) sowie 9/11 leicht verständlich, wie wir durch die permanente Wiederholung von immergleichen Botschaften (oft aus prominentem Mund) manipuliert werden, und empfiehlt einfache Abwehrtechniken: Gehen Sie in den Wald! Hören sie auf, Meinungsführern blind zu glauben! Fragen Sie stets nach den Interessen hinter der Botschaft! Vergleichen Sie, und zwar möglichst unterschiedliche Quellen! Üben Sie sich in Achtsamkeit!</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li>Daniele Ganser, Imperium USA: Die skrupellose Weltmacht, 2020</li>
									<li>Edward Bernays, Propaganda. - Die Kunst der Public Relations, Neuauflage 2007</li>
									
								</ul>
								</div>
								<div class="col-1-of-2">
									<div class="accordion__content--headline">Zum Video:</div>
									<ul class="accordion__list">
										<li><a href="https://www.youtube.com/watch?v=ooM3rrBoiBA">Daniele Ganser: Propaganda – Wie unsere Gedanken und Gefühle gelenkt werden</a></li>
									</ul>
								</div>
							</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">03_Definitionsmachtverhältnisse</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Warum die Leitmedien immer noch wichtig sind.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							In 70 Minuten erklärt Michael Meyen, dass wir die Leitmedien auch dann nicht ignorieren können, wenn wir Daniele Gansers Ratschlägen folgen und wissen, wie die Medienwirklichkeit entsteht. Auch im Digitalzeitalter bestimmen die Redaktionen der großen Medienhäuser, in welcher Welt wir leben. Der Vortrag zeigt, wie heute um Definitionsmacht gekämpft wird, warum die Ressourcen über den Ausgang entscheiden und was wir selbst für einen anderen Journalismus tun können.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li>Michael Meyen, Die Propaganda-Matrix, 2021 </li>
									<li>Jens Wernicke, Lügen die Medien? - Das Medienkritik-Kompendium, 2017</li>
								</ul>
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
									<ul class="accordion__list">
										<li><a href="https://www.youtube.com/watch?v=jE2SkKXxtYQ">Michael Meyen: Die Medien-Matrix</a></li>
									</ul>
								</div>										
							</div>
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">04_Propaganda II</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Warum es nicht nur auf die Medien ankommt.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Propaganda ist mehr als der Versuch, die öffentliche Meinung in eine bestimmte Richtung zu drängen und Autos, Parteien oder Kriege zu verkaufen. Die Propaganda beginnt schon in Kindergarten und Schule und führt dazu, dass Regisseurinnen oder Leitartikler uns verwundert anschauen, wenn wir ihre Produkte kritisieren und mit dem Etikett Propaganda versehen.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li>Jacques Ellul, Propaganda: Wie die öffentliche Meinung entsteht und geformt wird, 2021</li>
									<li><a href="https://multipolar-magazin.de/artikel/warum-ich-von-propaganda-spreche">Michael Meyen, Warum ich von Propaganda spreche, 2021</a></li>
								</ul>
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Propaganda:54f">Propaganda</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">05_Vertrauen in die Medien</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Was die Umfragen wirklich messen.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Seit dem Aufflammen der „Lügenpresse“-Vorwürfe haben Umfragen zur Glaubwürdigkeit der Medien Konjunktur. Hier scheint die Formel zu gelten: Je höher die Werte, desto besser der Zustand der Demokratie. Das Prinzip dieser Umfragen haben die US-Amerikaner nach Deutschland gebracht. Die westlichen Besatzungsmächte wollten wissen, was die Menschen von der neuen Gesellschaftsordnung und ihren Herolden halten. Das heißt auch: Gemessen wird hier etwas ganz anderes.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li><a href="https://medienblog.hypotheses.org/1435">Michael Meyen, Das Artefakt Glaubwürdigkeit, 2018</a></li>
								</ul>
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Vertrauen:7">Vertrauen</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">06_Redaktionsalltag</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Wie der Journalismus heute arbeitet.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Für das Publikum sind Rundfunkanstalten, Verlage und Digitalkonzerne in aller Regel eine Black Box. Man kennt ein paar prominente Gesichter und vielleicht den einen oder anderen Namen, weiß aber oft nicht, wie aus der Wirklichkeit eine Medienrealität wird, der wir uns genauso wenig entziehen können. Das hat auch mit der Berufsideologie des Journalismus zu tun: Die Redaktionen verschanzen sich hinter der fixen Idee, objektiv und autonom zu sein. Mit dem Arbeitsalltag hat das nichts zu tun.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li>Marcus B. Klöckner, Sabotierte Wirklichkeit, 2018</li>
									<li><a href="https://www.rubikon.news/artikel/journalismus-fur-eliten"> Michael Meyen, Journalismus für Eliten, 2022</a></li>
								</ul>
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Redaktionsalltag:c">Redaktionsalltag</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">07_Medienqualität</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >WWas „guter“ Journalismus liefern sollte.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Pressekodex, Medienstaatsvertrag, wissenschaftliche Literatur: Es mangelt nicht an Kriterienkatalogen, die helfen, „gute“ von „schlechten“ Beiträgen zu unterscheiden. Anders formuliert: Auch wenn wir uns vom Ziel Objektivität verabschieden und um die Abhängigkeiten wissen, in denen Redaktionen arbeiten, können wir Medienqualität erkennen, honorieren und einfordern.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li><a href="https://medienblog.hypotheses.org/8010">Maren Müller, Volker Bräutigam, Friedhelm Klinkhammer, Zwischen Feindbild und Wetterbericht. Tagesschau & Co. – Auftrag und Realität, 2019 </a></li>
								</ul>								
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Medienqualit%C3%A4t:6">
									Medienqualität</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">08_Nachrichtenauswahl</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Wie mit Weglassen gelogen wird.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Vielleicht der wichtigste Punkt überhaupt: Journalismus ist kein Spiegel der Wirklichkeit. Journalismus kann schon deshalb kein Spiegel der Wirklichkeit sein, weil dieser Spiegel platzen würde, wenn er die Komplexität des Lebens auch nur annähernd wiedergeben müsste. Journalismus ist zuallererst Selektion – von Themen und Ereignissen, von beteiligten Personen, von Facetten der Themen, Ereignisse und Personen, die es durch das Raster geschafft haben.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlungen:</div>
								<ul class="accordion__list">
									<li><a href="https://medienblog.hypotheses.org/1460">Michael Meyen, Wie die Nachrichtenwerttheorie Realitäten verschleiert, 2018</a></li>
								</ul>										
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Nachrichtenauswahl:a">Nachrichtenauswahl</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">09_Framing</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Warum jedes Wort wichtig ist.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Framing und Sprache: Warum jedes Wort wichtig ist Daniele Ganser deutet das in seinem Vortrag bereits an: Die Auswahl von Themen, Ereignissen und Personen ist nur die eine Seite der Medaille. Auf der anderen Seite stehen Werturteile, die oft unterschwellig mitgeliefert werden und deshalb umso schwerer zu erkennen sind.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlung:</div>
								<ul class="accordion__list">
									<li>Elisabeth Wehling, Politisches Framing: Wie eine Nation sich ihr Denken einredet und daraus Politik macht, 2016</li>
								</ul>
								
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Framing:b">Framing</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">10_Hinein in die Texte</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Worauf man beim Lesen, Hören, Sehen außerdem achten sollte.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Wir alle kennen dieses Gefühl: Da spricht oder schreibt jemand so, dass man jede Silbe unterstreichen und am liebsten gleich zur Tat schreiten möchte. Umso wichtiger ist es, wenigstens die Grundregeln manipulierender Rhetorik zu kennen und so zum Beispiel Scheinargumente erkennen zu können oder Angriffe gegen die Person, bei denen es gar nicht um die Sache geht.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlung:</div>
								<ul class="accordion__list">
									<li>Wladislaw Jachtchenko, Dunkle Rhetorik, 2019</li>
								</ul>								
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Texte:b">Texte</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">11_Faktenchecker</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Wer hinter der neuen Medienpolizei steht.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Correctiv, Faktenfuchs, Faktenfinder: Es gibt neuerdings eine Instanz, die wir fragen können, wenn sich zwei Politiker widersprechen oder jemand etwas Unerhörtes in aller Öffentlichkeit behauptet. Wenn niemand weiterweiß, dann hilft ein Faktencheck. Dieses Label ist allerdings eine Mogelpackung – gesponsort entweder von Medienhäusern, die ihre Glaubwürdigkeit verloren haben, oder von Milliardären, die die Öffentlichkeit kontrollieren wollen.
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlung:</div>
								<ul class="accordion__list">
									<li><a href="https://multipolar-magazin.de/artikel/auf-dem-weg-zum-wahrheitsministerium">Michael Meyen, Auf dem Weg zum Wahrheitsministerium, 2021</a></li>
								</ul>										
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Faktenchecks:4">Faktenchecks</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>

				<div class="accordion__element">
					<div class="accordion__headline ">
						<span class="bg bg__green">12_Alternativmedien</span>
					</div>
					<div class="accordion__subheadline">
						<span class="left" >Warum es jetzt zwei Journalismusfelder gibt.</span>
						<!-- <span class="right"><%= show_svg('icons/arrow-up.svg') %></span>-->
					</div>
					<div class="accordion__content">
						<div class="accordion__content--headline">Inhalt</div>
						<div class="accordion__content--text">
							Achgut, reitschuster.de, Rubikon, Apolut, Multipolar, Infosperber, Tichys Einblick: Im Schatten der Leitmedien haben sich professionell geführte Portale entwickelt, die von Spenden und Enthusiasmus leben und genau wie die traditionellen Redaktionen Deutungshoheit in öffentlichen Angelegenheiten beanspruchen. Hier wie dort steht die Frage: was haben wir von dem zu halten, was dort jeweils berichtet wird?
						</div>
					</div>
					<div class="accordion__recommendations">
						<div class="row">
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Leseempfehlung:</div>
								<ul class="accordion__list">
									<li>Alexis von Mirbach, Michael Meyen, Das Elend der Medien. Schlechte Nachrichten für den Journalismus, 2021</li>
								</ul>										
							</div>
							<div class="col-1-of-2">
								<div class="accordion__content--headline">Zum Video:</div>
								<ul class="accordion__list">
									<li><a href="https://odysee.com/@FreieMedienakademie:b/Alternativmedien:3">Alternativmedien</a></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>


	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="row">
		<%= render 'shared/cite' %>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>