<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-8-of-12">
			<div class="textheader">
				<div class="breadcrumb">
					<%= link_to 'Home', root_path %> > <%= link_to 'Medien+', medien_plus_path %> > <%= link_to 'Michaelis Interview', michaelis_interview_path %>		
				</div>
				<div class="bg__spacer">
					<iframe class="mobile-non" title="Im Gespräch: Martin Michaelis (Die Rolle der Kirche in Corona-Zeiten)" src="https://tube4.apolut.net/videos/embed/c5e0cd62-fb6e-42a5-a800-a2bb019b819e" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="720" height="460" frameborder="0"></iframe>		
					<iframe class="desktop-non" title="Im Gespräch: Martin Michaelis (Die Rolle der Kirche in Corona-Zeiten)" src="https://tube4.apolut.net/videos/embed/c5e0cd62-fb6e-42a5-a800-a2bb019b819e" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="320" height="220" frameborder="0"></iframe>			
					<div class="medienplus__meta">
						<span>Interview</span> | 
						<span>20.05.22</span>
					</div>
				</div>
				<%= link_to construction_path do %>
					<div class="medienplus__headline">Kirche und Corona</div>
				<% end %>
			</div>
		</div>
		<div class="col-2-of-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-2-of-12"></div>
		<div class="col-8-of-12">
			<div class="medienplus-article">
				<div class="medienplus-article__intro">Martin Michaelis: Viele trauen der Kraft des Glaubens nicht mehr &ndash; "Apolut im Gespräch" zur Rolle der Kirchen in der Gegenwart (Interview: Michael Meyen)</div>
				<div class="medienplus-article__text">Martin Michaelis ist Pfarrer in Quedlinburg und war Vorsitzender des Thüringer Pfarrvereins. In den letzten Monaten stieg die Aufmerksamkeit für Michaelis deutlich an, nachdem er offene Briefe an die Ministerpräsidenten Haseloff und Ramelow richtete, in denen er die Corona-Maßnahmen deutlich kritisierte. Dazu hielt er auch öffentliche Reden innerhalb und außerhalb der Kirche.</div>
				<div class="medienplus-article__text">Aufgewachsen ist Martin Michaelis als Pfarrerssohn in der DDR, wo er nach seinem Schulabschluss auch seinen beruflichen Werdegang als Physiklaborant begann. Später absolvierte er dann ein Theologiestudium und fungierte bis März 2022 als "Oberbetriebsrat" in der evangelischen Kirche, verlor dann aber den Vorsitz der Pfarrergesamtvertretung der Vereinigten Evangelisch-Lutherischen Kirche Deutschlands (VELKD) und weitere Funktionen nach seinen kritschen öffentlichen Äußerungen.</div>
				<div class="medienplus-article__text">Michael Meyen spricht mit Martin Michaelis über die Beweggründe, seine kritische Meinung in der Öffentlichkeit kund zu tun, die Politisierung der Kirche, den Umgang der Kirche mit den Corona-Maßnahmen, aber auch so heikle Themen wie z.B. den Umgang mit dem Sterben.</div>
				<div class="medienplus-article__text">Quelle: <a href="https://apolut.net/">apolut.net</a></div>
			</div>



		</div>
	</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>