<div class="wrapper">
	<div class="nav" id="nav">
		<div class="wrapper wrapper__inner">
			<div class="nav__content">
			<div class="nav__logo">
				<%= link_to root_path do %>
					<%= show_svg('logo/akademie_logo.svg') %>
				<% end %>
			</div>
				<ul class="nav__items">
					<li><%= link_to 'Studiengang', studiengang_path %></li>
					<li>Lehrgänge</li>
					<li>Akademie-Blog</li>
					<li>Medien +</li>
					<li class="nav__items--right">Mein Bereich</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="nav-mobile">
		<div class="nav-mobile__logo">
			<%= link_to root_path do %>
				<%= show_svg('logo/akademie_logo_small.svg') %>
			<% end %>
		</div>
		<a href="javascript:void(0);" class="nav-mobile__trigger" id="nav-mobile__trigger" onclick="toggleNav()"></a>
		<div class="nav-mobile__content">   				
			<div class="nav-mobile__items" id="nav-mobile__items">
				<ul>
					<%= link_to 'Studiengang', studiengang_path %><
					<a href="#">Lehrgänge</a>
					<a href="#">Akademie-Blog</a>
					<a href="#">Medien +</a>
				</ul>
			</div>
		</div>
	</div>


	
	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1><span class="bg bg__yellow">Studiengang</span>
						<div class="seperator">&nbsp;</div>
					<span class="bg bg__yellow">Journalistische Praxis</span></h1>
				</div>
			</div>
			<div class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Studiengang Journalistische Praxis', studiengang_path %></div>
		</div>
	</div>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>

		<div class="col-9-of-12">
			<div class="header-small__video">
				<video id="background-video-lehrgang" autoplay loop muted poster="<%= asset_path 'headers/02_header_lehrgang.png' %>">
				<source src="<%= asset_path 'videos/02_studiengang_compressed.mp4' %>" type="video/mp4">
			</video>
			</div>
			<div class="row">
				<div class="col-4-of-9">
					<p class="meta"> Journalistische Praxis</p>
					<div class="bg__spacer">
						<span class="bg bg__blue"> Unser Studiengang</span>
					</div>
				</div>
				<div class="col-5-of-9">
					<p class="intro">Der Studiengang berührt alle Facetten des Berufs und ist für Menschen gedacht, die weder ein Volontariat noch eine der großen Journalistenschulen durchlaufen haben, aber trotzdem professionell arbeiten möchten. Die Bewerbung erfolgt über ein Motivationsschreiben (maximal zwei Seiten), das zugleich helfen soll, die Angebote an den Bedarf anzupassen: Warum interessiere ich mich für diese Akademie, was möchte ich lernen und was bringe ich schon mit?
					</p>
				</div>
			</div>
			<div class="row">
				<div class="space">
				</div>
			</div>					

			<div class="row" id="step01">
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
				<div class="col-3-of-9">
					<div class="step">
						<span class="step__subheadline step__subheadline--blue-light">Step 01</span>
					  <div class="step__headline blue-l">Was</div> 
						<span class="step__subheadline step__subheadline--blue-light">wir bieten</span>
				</div>
				</div>
				<div class="col-4-of-9">
					<div class="step__textblock--headline">In zwei Semestern zur Meisterschaft</div>
					<div class="step__textblock--text">In zwei Semestern zur Meisterschaft – durch <span class="highlight">Üben, Üben, Üben</span>. Trainiert werden sowohl der Arbeitsprozess (Recherche, Redaktion) als auch alle wichtigen Genres (Nachricht, Bericht, Artikel, Kommentar, Reportage, Porträt, Interview). Keineswegs nur Nebenprodukt: <span class="highlight">eine kleine Gemeinschaft</span>, die Aufklärung und Machtkontrolle für den Kern des Journalismus hält.
					</div>
				</div>
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
			</div>


			<div class="row">
				<div class="space">
				</div>
			</div>		

			<div class="row">
				<div class="col-4-of-9">
					&nbsp;
				</div>
				<div class="col-4-of-9">
					<div class="row">
						<div class="col-1-of-9 mobile-non">&nbsp;</div>
						<div class="col-7-of-9">
							<%= image_tag 'studiengang/01_was.jpg', alt: 'was', class:' ' %>
						</div>
						<div class="col-1-of-9 mobile-non">&nbsp;</div>
					</div>
				</div>			
			</div>

			<div class="row">
				<div class="space">
				</div>
			</div>		

			<div class="row rotato" id="step02">
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
				<div class="col-4-of-9">
					<div class="step__textblock--headline">Kritische Stimmen willkommen</div>
					<div class="step__textblock--text">Alle, die unzufrieden sind mit der <span class="highlight">Qualität der Leitmedien</span>, es besser machen wollen und die Kondition für <span class="highlight">zwei Semester Training mitbringen</span>. Dazu gehört die Bereitschaft, andere zu kritisieren und selbst Kritik auszuhalten. Jede Woche, wenigstens ein paar Stunden.
					</div>
				</div>
				<div class="col-3-of-9 tar">
					<span class="step__subheadline step__subheadline--yellow">Step 02</span>
					<div class="step__headline yellow">wer</div>
					<span class="step__subheadline step__subheadline--yellow">zu uns kommen kann</span>
				</div>
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
			</div>


			<div class="row">
				<div class="space">
				</div>
			</div>		


			<div class="row" id="step03">
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
				<div class="col-3-of-9">
					<span class="step__subheadline step__subheadline--green">Step 03</span>
					<div class="step__headline green">Wann</div>
					<span class="step__subheadline step__subheadline--green">wir trainieren</span>
				</div>
				<div class="col-4-of-9">
					<div class="step__textblock--headline">In zwei Semestern zur Meisterschaft</div>
					<div class="step__textblock--text">Semester eins geht von Ende September bis Ende Januar und Semester zwei von Anfang April bis Anfang Juli. Zum Semesterauftakt gibt es jeweils <span class="highlight">ein Präsenzseminar</span> (zweieinhalb Tage, Freitag bis Sonntag). Dazu kommen jede Woche ein Bildschirmtreffen in der Gruppe (zwei Stunden, abends, vorzugsweise am Montag) <span class="highlight">und Individualcoaching</span>.
					</div>
				</div>
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
			</div>


			<div class="row">
				<div class="space">
				</div>
			</div>		


			<div class="row rotato" id="step04">
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
				<div class="col-4-of-9">
					<div class="step__textblock--headline">Das Bewerbungsverfahren</div>
					<div class="step__textblock--text">In drei Schritten. Am Anfang steht ein <span class="highlight">Motivationsschreiben</span> (eine Seite), zu dem auch das eigene Leben gehört (Termin: 15. Juli). Es folgen Schreibaufgabe und persönliches Gespräch.
					</div>
				</div>
				<div class="col-3-of-9 tar">
					<span class="step__subheadline step__subheadline--blue">Step 04</span>
					<div class="step__headline blue step__right ">wie</div>
					<span class="step__subheadline step__subheadline--blue">der Ablauf ist</span>
				</div>
				<div class="col-1-of-9 mobile-non">&nbsp;</div>
			</div>


			<div class="row">
				<div class="space">
				</div>
			</div>		

			<div class="row" id="step05">
				<div class="col-3-of-9">
					<div class="progress">
						<div class="progress__headline">jetzt</div>
						<div class="progress__box progress__bg--yellow">01</div>
						<span class="progress__subline progress__bg--yellow">Motivationsschreiben</span>
					</div>
				</div>
				<div class="col-3-of-9">
					<div class="progress">
						<div class="progress__headline">Im Verlauf</div>
						<div class="progress__box progress__bg--blue">02</div>
						<span class="progress__subline progress__bg--blue">Schreibaufgabe</span>
					</div>
				</div>
				<div class="col-3-of-9">
					<div class="progress">
						<div class="progress__headline">Später</div>
						<div class="progress__box progress__bg--blue-l">03</div>
						<span class="progress__subline progress__bg--blue-l">Gespräch</span>
					</div>
				</div>
			</div>
		</div>
			<div class="col-2-of-12 mobile-non">
				<div class="scroll-menu ">
					<ul>
						<li><a class="anchor" id="anchor_01" href="javascript:void(0);" onclick="document.getElementById('step01').scrollIntoView(); removeClass(); document.getElementById('anchor_01').classList.add('active');">Was wir bieten</a></li>
						<li><a class="anchor" id="anchor_02" href="javascript:void(0);" onclick="document.getElementById('step02').scrollIntoView(); removeClass(); document.getElementById('anchor_02').classList.add('active');"> Wer zu uns kommen kann</a> </li>
						<li><a class="anchor" id="anchor_03" href="javascript:void(0);" onclick="document.getElementById('step03').scrollIntoView(); removeClass(); document.getElementById('anchor_03').classList.add('active');">Wann wir trainieren </a></li>
						<li><a class="anchor" id="anchor_04" href="javascript:void(0);" onclick="document.getElementById('step04').scrollIntoView(); removeClass(); document.getElementById('anchor_04').classList.add('active');">Das Bewerbungsverfahren</a> </li>
						<li><a class="anchor" id="anchor_05" href="javascript:void(0);" onclick="document.getElementById('step05').scrollIntoView(); removeClass(); document.getElementById('anchor_05').classList.add('active');">Motivationsschreiben</a> </li>

					</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="row">
		<div class="cite">
			<p class="cite__text">
				Die Akademie richtet sich erstens an Medienmenschen, die Reflexion und Austausch wünschen oder handwerkliche Fähigkeiten erwerben, verbessern oder auffrischen wollen, und zweitens an alle, die nach Kriterien für die Bewertung öffentlich zugänglicher Texte suchen und damit nach einem Weg zur Selbstbestimmung und Autonomie. 
			</p>
		</div>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="wrapper wrapper__inner">
		<div class="footer">
			<div class="row">
				<div class="col-1-of-4">
					<h3>Akademie</h3>
					<ul>
						<li><%= link_to 'Was wir bieten', root_path(anchor: 'portfolio') %></li>
						<li><%= link_to 'Wer wir sind', root_path(anchor: 'portrait') %></li>
						<li><%= link_to 'Spielend lernen', root_path(anchor: 'gamification') %></li>
						<li><%= link_to 'Wen wir empfehlen', root_path(anchor: 'partner') %></li>
					</ul>
				</div>
				<div class="col-1-of-4">
					<h3>Beliebte Inhalte</h3>
					<ul>
						<li><%= link_to 'Studiengang', studiengang_path %></li>
						<li>Lehrgang</li>
						<li>Medien +</li>
					</ul>
				</div>
				<div class="col-1-of-4">
					<h3>Kontakt</h3>
					<ul>
						<li><a href="mailto:"><span class="button button__blue link-deko__right"> Jetzt bewerben </span></a></li>
					</ul>
					<h3><%= link_to 'Impressum', impressum_path %></h3>
				</div>
				<div class="col-1-of-4">
					<%= show_svg('logo/akademie_logo.svg') %>
				</div>
			</div>		
		</div>
	
	</div>

</div>