<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-8-of-12">
			<div class="textheader">
				<div class="breadcrumb">
					<%= link_to 'Home', root_path %> > <%= link_to 'Medien+', medien_plus_path %> > <%= link_to 'Versagen der Justiz', versagen_der_justiz_path %>		
				</div>
				<div class="bg__spacer">
					<iframe class="mobile-non" title="Im Gespräch: Alexander Christ (“Corona-Staat”)" src="https://tube4.apolut.net/videos/embed/7e656263-6a10-4cce-b418-444e8e11c727" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="720" height="460" frameborder="0"></iframe>
					<iframe class="desktop-non" title="Im Gespräch: Alexander Christ (“Corona-Staat”)" src="https://tube4.apolut.net/videos/embed/7e656263-6a10-4cce-b418-444e8e11c727" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="320" height="220" frameborder="0"></iframe>		
					<div class="medienplus__meta">
					<span>Interview</span> | 
					<span>05.08.22</span>
				</div>
			</div>
				<%= link_to construction_path do %>
					<div class="medienplus__headline">Versagen der Justiz</div>
				<% end %>
			</div>
		</div>
		<div class="col-2-of-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-2-of-12"></div>
		<div class="col-8-of-12">
			<div class="medienplus-article">
				<div class="medienplus-article__intro">Michael Meyen hat für Apolut mit dem Juristen Alexander Christ über das Buch "Corona-Staat gesprochen.</div>

				<div class="medienplus-article__text">Alexander Christ war ein ganz normaler Anwalt. Arbeitsrecht. Im Maschinenraum von Wirtschaft und Bürokratie, ein Vierteljahrhundert lang. Corona hat aus ihm einen Anwalt für Grundrechte und Demokratie gemacht – und einen Autor. Im Buch Corona-Staat geht es um die großen Fragen seiner Zunft. Wie konnte Recht zu Unrecht werden? Wie hat es die Politik geschafft, die Gerichte auf ihre Seite zu ziehen, und wo sind die vielen anderen normalen Anwälte, die doch auch gesehen haben müssen, wie die Justiz ihre Autonomie verliert? Dieses Interview aus der Reihe "Apolut im Gespräch" wurde am 16. Juni 2022 aufgezeichnet. Das Buch von Christ stand mehrere Wochen auf der Spiegel-Bestsellerliste.</div>
				<div class="medienplus-article__text">Quelle: <a href="https://apolut.net/">apolut.net</a></div>
			</div>



		</div>
	</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>