<div class="wrapper">
	<%= render "shared/nav" %>

	<!-- Header -->

	<div class="row">
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
		<div class="col-8-of-12">
			<div class="textheader">
				<div class="breadcrumb">
					<%= link_to 'Home', root_path %> > <%= link_to 'Medien+', medien_plus_path %> > <%= link_to 'Zeitalter des Überwachungskapitalismus', zeitalter_des_ueberwachungskapitalismus_path %>		
				</div>
				<div class="bg__spacer">
					<%= image_tag 'sidebar/06_aktuelles-buchtipp.jpg', alt: 'Shoshana Zuboff', class:'mb--2 ' %>				
					<div class="medienplus__meta">
					<span>Buchtipp</span> | 
					<span>20.05.22</span>
				</div>
				<%= link_to construction_path do %>
					<div class="medienplus__headline mb--1">Revisited: „Das  Zeitalter des Überwachungskapitalismus“</div>
				<% end %>
				<div class="medienplus-article__intro">Shoshana Zuboff hat vor vier Jahren eine Zukunft entworfen, in der eine „Klasse von Spezialisten“ alle Mittel in der Hand hat, „kollektives Verhalten“ via Wissenschaft und Technologie zu steuern und zu kontrollieren. Ihre Idee damals: Was in China der Staat macht, gehört im Westen „größtenteils dem überwachungskapitalistischen Kapital“ (Zuboff 2018: 509). Stimmt das so noch? Hat es überhaupt je gestimmt?</div>
				</div>
			</div>
		</div>
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
	</div>
</div>	

	<!-- Header END-->

	<!-- Content -->
<div class="wrapper">
	<div class="row">
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
		<div class="col-7-of-12">
			<div class="medienplus-article">
				
				<div class="medienplus-article__headline">Shoshana Zuboff: Das Zeitalter des Überwachungskapitalismus. Frankfurt am Main: Campus 2018</div>
				<h3 class="medienplus-article__subheadline">Eine Rezension von Michael Meyen</h3>
				<div class="medienplus-article__text">Ich gebe zu: Der Teaser übertreibt ein wenig. Man kann in Zuboffs Buch Hinweise finden auf das, was Sheldon Wolin schon gut ein Jahrzehnt vorher „Democracy Incorporated“ genannt hat oder „Supermacht“ – „die Vereinigung von Staat und Konzernen in einem Zeitalter schwindender Demokratie und politischen Analphabetentums“ (Wolin 2022: 221).</div>
				<div class="medienplus-article__text">Man muss diese Hinweise allerdings suchen. Ein paar Zeilen über die „Deckungsgleichheit der Interessen von Überwachungskapitalismus und Überwachungsstaat“ (S. 35) und ein paar über die „Wahlverwandtschaft zwischen staatlichen Nachrichtendiensten“ und Google. Hier wie dort der Wunsch „nach Gewissheit“. Und hier wie dort die feste Entschlossenheit, „dieses Verlangen“ „um jeden Preis zu stillen“, spätestens seit 9/11 (S. 141).</div>
				<div class="medienplus-article__highlight">„Wahlverwandtschaft“ klingt trotzdem eher romantisch und „Deckungsgleichheit“ auch. Da haben sich halt zwei gefunden. Sei’s drum. Das Wenige, was die Ökonomin Shoshana Zuboff sonst noch zum Thema Mega-Hochzeit von Staat und Digitalkonzernen schreibt, ruft dabei förmlich nach einem Politikwissenschaftler wie Sheldon Wolin:</div>
				<div class="medienplus-article__text">
					<ul>
						<li>„aggressive Lobbying-Kampagnen“ gegen jede Regulierung (S. 151),</li>
						<li>„die Drehtür zwischen den Machtzentren beider Küsten“ (zwischen Washington und dem Silicon Valley, über 250 Personalwechsel allein in der Amtszeit von Barack Obama, S. 150),</li>
						<li>das Zusammenspiel in Wahlkämpfen sowie</li>
						<li>all das Geld, das zum Beispiel an „Universitätsprofessoren“ geht, „die Googles Position hinsichtlich Gesetzgebung, Regulierung, Wettbewerb, Patenten und so weiter“ teilen (S. 152), und das nur ein Bruchteil dessen ist, was die Überwachungskapitalisten investieren, um „sowohl die akademische Forschung als auch die engagierte Zivilgesellschaft zu infiltrieren“ (S. 151).</li>
					</ul>
				</div>


				<div class="medienplus-article__text">Shoshana Zuboff weiß auch, warum nicht nur die Konzerne etwas wollen in dieser Partnerschaft. Die „Überwachungsagenda“, die unter dem Schlagwort Terrorismus auch öffentlich salonfähig wurde, beißt sich mit westlichen Verfassungen. Die Folge („zwangsläufig“): eine „geheime Zusammenarbeit zwischen Staat und Privatwirtschaft“ (S. 144). Edward Snowden ist in dieser Lesart eine „Störung“, weil er „die versteckte Komplizenschaft zwischen staatlichen Sicherheitsorganen und Tech-Unternehmen enthüllte“ und so „die Überwachungskapitalisten vor ganz neue PR-Probleme“ stellte (S. 448) – ein Mechanismus, mit dem Zuboff erklärt, warum Google zum Beispiel verstärkt auf „Trusted Flagger“ setzte (auf Menschen, die „problematische Inhalte“ melden) und sich wie Facebook, Microsoft oder Twitter darauf einließ, Dinge zu entfernen, die dem Weißen Haus nicht gefallen, und umgekehrt „die Verbreitung gegenteiliger Botschaften“ zu beschleunigen (S. 449).</div>
				<div class="medienplus-article__text">Trotzdem: Was hier in der Zusammenfassung wuchtig daherkommt, verliert sich auf den gut 600 Seiten in Zuboffs monumentalem Standardwerk. Und: So richtig die Diagnose ist (Edward Snowden als „Störung“), so merkwürdig mutet das Heilmittel an, das hier angeblich eingesetzt worden ist. Warum sollen zwei Verbrecher, die gerade auf frischer Tat ertappt worden sind (Datendiebstahl und alles, was daraus im Überwachungskapitalismus folgt), ihr Image durch eine neue Straftat (Zensur) aufpolieren wollen? Sheldon Wolin (2022: 149) würde sagen: Seit Snowden ans Tageslicht gebracht hat, was ohnehin schon lange lief, muss sich das System „nicht mehr schämen“ und kann in aller Öffentlichkeit weitermachen, solange es Begründungen findet, die moralisch nicht anfechtbar sind. Terror und Extremismus, Hass und „systematische Desinformation“ (S. 579), ein tödliches Virus, eine epische Schlacht um Freiheit und Demokratie. Shoshana Zuboff sind die Mechanismen eigentlich klar (wie gleich noch zu zeigen sein wird), allerdings starrt die Ökonomin auf die Verwertungslogik der neuen Kapitalisten wie das Kaninchen auf die Schlange und verliert dabei die Folgen für Meinungsfreiheit und Medienvielfalt aus dem Blick.</div>
				<div class="medienplus-article__text">Um nicht falsch verstanden zu werden: Was Zuboff über Google, Facebook und Co. und vor allem über das schreibt, was diese Unternehmen aus der Gesellschaft gemacht haben und noch machen werden, ist großartig. Am Anfang stehen wir. Unser Wunsch nach einem effektiven Leben. Unsere Probleme, unsere Bedürfnisse. „Der Überwachungskapitalismus bietet dem Einzelnen Lösungen in Form von sozialem Verbundensein, Zugang zu Informationen, zeitsparenden Annehmlichkeiten und der Illusion von Unterstützung. Es sind dies die Ressourcen des Ersten Textes. Wichtiger noch: Er bietet Lösungen für Institutionen in Form von Allwissenheit, Kontrolle und Gewissheit“ (S. 446).</div>
				<div class="medienplus-article__text">Der „Erste Text“: Im Vokabular von Shoshana Zuboff steht dieser Begriff für das, was wir sehen, wenn wir Facebook aufrufen, Twitter oder Instagram. Was wir dort selbst eingeben und posten. Folgt man Zuboff, dann ist dieser „Erste Text“ den Unternehmen herzlich egal – eine „offene Einladung zur Korrumpierung“ für alle, die früher keinen Zugang zur Öffentlichkeit hatten (S. 585). Reagiert wird erst (so heißt es zumindest im Buch, obwohl es ja selbst dort Gegenbeispiele gibt), wenn der „Schattentext“ bedroht ist – das, worum es im Überwachungskapitalismus wirklich geht (S. 579). Diese zweite Ebene ist „nur von den neuen Priestern, ihren Chefs und deren Maschinen zu lesen“ (S. 225), obwohl sie von uns gefüttert wird – von allem, was wir online und offline tun. Smartphone, Smarthome, Smart-TV. Der PC natürlich, der neue Wagen und sogar der Saugroboter. Sie beobachten uns. Wo sind wir, was suchen wir und worauf antworten wir, wie groß ist eigentlich das Wohnzimmer und wie sieht das Gesicht aus, wenn wir uns freuen? Sie hören uns ab. Worüber reden wir in welcher Sprache mit wem und mit welcher Intonation? Sie stupsen uns vorwärts und bremsen uns aus. Fahr zu diesem Parkplatz. Du bist immer noch auf der schnellsten Route. Dort musst du unbedingt essen. All das füttert den riesigen Datenstrom, der uns erst vorhersagbar macht (die Anzeige mit den Laufschuhen Sekunden nach einem erfolgreichen Training) und schließlich unser Verhalten formt. Pokémon Go war nur ein Vorspiel – genau wie das Auto, das einfach stehenbleibt, wenn die Versicherung das will. Wer sichere Prognosen verkauft, braucht „totale Information“ (S. 412) und kann sich nicht leisten, dieses Wissen mit irgendwem zu teilen.</div>
				<div class="medienplus-article__text">Der Überwachungskapitalismus von Shoshana Zuboff muss bei Strafe seines Untergangs Verhalten produzieren, „das zuverlässig und definitiv zu erwünschten kommerziellen Ergebnissen führt“. Noch einmal anders formuliert: Die „Kraft des Vorhersageimperativs“ zwingt die Tech-Unternehmen dazu, „die Zukunft zu gestalten, um sie vorhersagen zu können“ (S. 235). Das Eindringen in die Privatsphäre ist dagegen genauso Pipifax wie die Angst vor Monopolen. Ob wir es mit einem Megakonzern zu tun haben oder mit hundert Minifirmen nach einer möglichen Zerschlagung, macht für Zuboff keinen Unterschied. Entscheidend ist, dass der „Instrumentarismus“ (ihr Gegenvorschlag, um nicht Totalitarismus sagen zu müssen) „menschliches Verhalten im Sinne der Ziele anderer“ kennt und formt (S. 23).</div>
				<div class="medienplus-article__text">Shoshana Zuboff braucht neue Begriffe, um das „Beispiellose“ beschreiben zu können – das, was noch keine Generation erlebt hat und deshalb von uns weder zu erkennen noch zu benennen ist (S. 27). Sie bleibt dabei aber nicht nur in Sachen Instrumentarismus nah dran am gewohnten Vokabular. Der Überwachungsapparat heißt bei ihr „Big Other“ – eine „wahrnehmungsfähige, rechnergestützte und vernetzte Marionette, die das menschliche Verhalten rendert, überwacht, berechnet und modifiziert“ (S. 437). Taufpate ist hier B.F. Skinner, der den Menschen (den „Anderen“) als „Organismus unter Organismen“ sah und zum „Objekt“ eines übergeordneten Willens machen wollte (S. 435).</div>
				<div class="medienplus-article__text">Shoshana Zuboff sagt: Wenn ihr das Hier und Jetzt verstehen wollt, müsste ihr „Walden Two“ lesen (Skinner 1948) und nicht Orwells „1984“. Bei Skinner seht ihr, wohin ein Denken führt, das Freiheit und Unwissenheit für Synonyme hält und glaubt, dass „Vorstellungen wie Freiheit, Willen, Autonomie, Absicht und Handeln nur ein Verteidigungsmechanismus“ seien, „der uns vor den unbequemen Fakten menschlicher Unwissenheit schützen soll“ (S. 425). Was dieser Schnee von gestern in einem Buch über den Überwachungskapitalismus macht? Heute gibt es mehr Daten und vor allem mehr Rechnerkapazitäten, als B.F. Skinner je zu träumen wagte. Heute wird die Wirtschaft angetrieben von der „Umwandlung des Lebens in Verhaltensdaten“, „die anderen eine bessere Kontrolle über uns“ ermöglichen (S. 118). Und, nicht zu vergessen: Heute werden auch die Geistes- und Sozialwissenschaften vom naturwissenschaftlichen Modell dominiert. Untersucht wird (fast) nur noch das, was sich beobachten und messen lässt (vgl. Mau 2017).</div>
				<div class="medienplus-article__text">Zuboff findet aber auch in der akademischen Gegenwart Autoren, die das Menschen- und Gesellschaftsbild liefern, das den Überwachungskapitalismus legitimiert und die Welt erahnen lässt, auf die wir zusteuern. Gestützt vor allem auf die Arbeiten von Alex Pentland entwickelt sie fünf „Prinzipien einer instrumentären Gesellschaft“ (S. 495), die nach gut zwei Jahren Gesundheitsdiktatur sehr vertraut wirken und mit den Idealen von Demokratie und Liberalismus nichts zu tun haben:</div>
				<div class="medienplus-article__text">
					<ul>
						<li>„Verhalten zum höheren Wohl“ (S. 497) oder: Unterordnung unter eine „kollektive Intelligenz“, wobei klar ist, wer hier sagt, was gut und richtig ist, wenn man um den Wissensvorsprung der Überwachungskapitalisten weiß und um ihren Zugriff auf die „Mittel zur Verhaltensänderung“ (S. 498),</li>
						<li>„Pläne statt Politik“: Das „totale Wissen“ macht die einst üblichen Aushandlungsprozesse obsolet („Sand im Getriebe“, S. 498),</li>
						<li>„sozialer Druck“ (S. 501) – auszuüben vor allem über die sozialen Medien und die Orientierung an den Peers,</li>
						<li>„Angewandte Utopistik“ (wer über das Wissen verfügt, darf seinen Plan umsetzen, S. 503) und</li>
						<li>„Tod der Individualität“ (S. 504).</li>						
					</ul>
				</div>

				<div class="medienplus-article__text">Ein Mensch mit dem „Willen zum Wollen“, ein Mensch, der seine Erfahrungen selbst ordnet, um „sie mit Sinn zu erfüllen“ (S. 332), ein Mensch, der sich nicht an die Welt anpassen, sondern diese Welt gestalten will – kurz: ein Mensch, dessen Innenleben sich nicht komplett in Zahlen und Daten pressen und dessen nächster Schritt deshalb nicht vorherzusagen ist: Für einen solchen Menschen hat der Instrumentarismus keinen Platz. Eine besonders perfide Volte: Der Überwachungskapitalismus konnte nur in dem Klima gedeihen, das mit der neoliberalen Ideologie entstanden ist (Stichworte: Selbstregulierung und der Kampf aller gegen alle), und macht nun aus dem Markt der vielen Individuen eine Herde im Einheitsstall. Shoshana Zuboff sagt: Es geht um Abhängigkeit. Der Sog der Geräte („addiction by design“, S. 516), die Angst vor Ungewissheit und Freiheit (S. 389), die Ausrichtung an „den anderen“ (S. 513) und damit am Kollektiv. „Wenn es eine Sünde gibt, dann ist es die Sünde der Autonomie“ (S. 444). Besser kann man die Religion des Überwachungskapitalismus nicht auf den Punkt bringen.</div>
				
				
				
				<div class="medienplus-article__text"><strong>Michael Meyen</strong>: Revisited: „Das Zeitalter des Überwachungskapitalismus“. In: Medienrealität 2022.</div>
				<div class="medienplus-article__text">Zuerst erschienen auf: 
				 <a href="https://medienblog.hypothe0ses.org/10766">https://medienblog.hypotheses.org/10766</a></div>
				<div class="medienplus-article__highlight"></div>
			</div>
		</div>

		
	</div>

	<!-- Content END-->


	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>
</div>