<div class="wrapper">

	<%= render "shared/nav" %>
	
	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1>
						<span class="bg bg__blue">Herzlich willkommen</span>
						<div class="seperator">&nbsp;</div>
						<span class="bg bg__blue">im Klassenzimmer</span>
					</h1>
				</div>
			</div>
			<div class="breadcrumb">
				<%= link_to 'Home', root_path %> > <%= link_to 'Klassenzimmer', classroom_path %>		
			</div>
		</div>
	</div>				
	<div class="space">&nbsp;</div>
	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>

		<div class="col-9-of-12">
			<div class="row">				
				<div class="col-5-of-9">
					<p class="meta">Zeit für Austausch</p>
					<div class="bg__spacer">
					</div>
					<span class="bg bg__yellow">Mitteilungen </span>
				</div>
			</div>
			<div class="message">
				<div class="row">
					<% Message.all.each do |message| %>
						<div class="col-2-of-3">
							<div class="message__text">
								<%= message.message_text %>
								<% if message.date.present? &&  message.time.present? %>
									<%= message.date.strftime("%d.%m.%Y") %> um 
									<%= message.time %>
								<% end %> 
							</div>
						</div>
						<div class="col-1-of-3">
							<% if message.link.present? &&  message.link_text.present? %>
								<span class="button button__yellow--outline"><a href="<%= message.link %>"><%= message.link_text %></a></span>
							<% end %> 
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="row">
		<div class="col-2-of-12 mobile-non">
			&nbsp;	
		</div>
		<div class="col-9-of-12">	
			<div class="col-1-of-2">
				<span class="bg bg__blue-l">Aufgabenbereich </span>
			</div>
		</div>
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-2-of-12 mobile-non">
			&nbsp;	
		</div>
		<div class="col-9-of-12">
			<div class="row">
				<div class="col-1-of-3">
					<span class="classroom__bg-link"><%= link_to 'Meine Texte', classroom_mein_bereich_path %> </span>
				</div>
				<div class="col-1-of-3">
					<span class="classroom__bg-link"><%= link_to 'Kommilitonen', classroom_kommilitonen_path %></span>
				</div>
			</div>
		</div>
		<div class="col-2-of-12 mobile-non">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-2-of-12 mobile-non">
			&nbsp;	
		</div>
		<div class="col-9-of-12">
			<% Task.all.each do |task| %>
				<div class="task">
					<div class="row">
						<div class="col-1-of-2">
							<div class="task__number"><span class="bg bg__blue-l">Aufgabe <%= task.number %></span></div>
							<div class="task__title"><h2><%= task.title %></h2></div>
							<div class="task__assignment"><strong>Aufgabenstellung:</strong> <%= task.assignment_text %></div>
							<%= link_to 'Aufgabe einreichen', new_classroom_task_article_path, class: 'button button__blue-l' %>
						</div>
						<div class="col-1-of-2 task__right">
							<div class="task__end">Ende der Bearbeitungszeit ist der <%= task.end.strftime("%d.%m.%Y") %>. Reichen Sie ihren Text bitte bis dahin ein.</div>
						</div>
					</div>
				</div>
				<% TaskArticle.all.each do |task_article| %>
					<% if owner?(task_article) %>
						<%= task_article.title %>
					<% end %>
				<% end %>
			<% end %>
		</div>

	<div class="row">
		<div class="space">
		</div>
	</div>

	</div>		

	<div class="row">
		<%= render 'shared/cite' %>
	</div>	

	<div class="row">
		<div class="space">
		</div>
	</div>		

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>