<div class="wrapper">
	<div class="row">
		<h1>Bilder Index</h1>
	</div>


	<div class="row form">
		<div class="col-2-of-12">
			<%= render "./admin/shared/sidebar" %>
		</div>
		

		<div class="col-10-of-12">
			<div class="row">
				<% @images.each do |image| %>
					<div class="col-1-of-3">
						<div><%= image_tag  image.image_url %></div>
						<div><%= image.image_url %></div>
						<div><%= link_to 'anzeigen', [:admin, image] %></div>

						<div><%= link_to 'bearbeiten', edit_admin_image_path(image) %></div>
						<%= link_to 'löschen', [:admin, image], method: :delete, data: {confirm: 'wirklich löschen?'} %>
					</div>
				<% end %>
			</div>
					
			<div class="">
				<%= link_to 'Bild hochladen', new_admin_image_path, class: 'button' %>
			</div>
		</div>
	</div>
</div>



