<div class="wrapper">
	<div class="row">
		<h1>Bild</h1>
	</div>
	<div class="row">
		<div class="col-2-of-12">
			<%= render "./admin/shared/sidebar" %>		
		</div>
		

		<div class="col-10-of-12">
			<div>
				<% if @image.image.present?%>
					<%= image_tag  @image.image_url %>
				<% end %>
			</div>
			<div>Titel: <%= @image.image_title %></div>
			<div>Quelle: <%= @image.image_sources %></div>
			<div>URL: https://www.freie-medienakademie.de<%= @image.image_url %></div>
		<div class="spacer">&nbsp;</div>
			<span class="button"><%= link_to 'Zurück zur Übersicht', admin_images_path %></span>
			</div>
		</div>		
	</div>
</div>



