<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Freie Akademie</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon/favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0' >
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
